---
import Layout from "../../layouts/Layout.astro"
import SectionContainer from "../../components/SectionContainer.astro";


---
<Layout  
title = "About"
description = "Best Music Production Studio in Baltimore" 
language = "en">
  <main class="mt-14">
      <SectionContainer>
        <div class="overflow-hidden bg-[#F8F4E1] py-24 sm:py-10">
          <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
            <div class="max-w-4xl">
             
              <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-richOrange sm:text-5xl">On a mission to craft stories through sound.</h1>
              <p class="mt-6 text-balance text-xl/8 text-gray-700">My misson is to merge storytelling, culture, and emotion into sound—creating music that resonates beyond genre and borders.</p>

            </div>
            <section class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
              <div class="lg:pr-8">
                <h2 class="text-pretty text-2xl font-semibold tracking-tight text-deepTeal">My mission</h2>
                <p class="mt-8 text-base/7 text-gray-600">I craft stories through sound—stories that don't follow a straight line, but instead unfold through texture, emotion, and the unexpected. Music has always been my way of translating the things I can't say outright, shaping them into melodies, rhythms, and atmospheres that speak on their own. Every project I take on is an opportunity to push myself deeper into that process, blending my influences and experiences into something that feels honest an</p>

                <p class="mt-8 text-base/7 text-gray-600">I'm also driven by the idea of connection: bridging cultures, genres, and personal histories in ways that create something new. Whether I'm drawing from classical technique, Latinx traditions from my family, or the modern sounds that inspire me daily, my mission is to unify these elements into a language that resonates with others. Through each piece of music, I hope to build spaces where listeners can feel, reflect, and interpret the story in their own way.</p>
              </div>
              <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto px-6">
                <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8">
                  <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10">
                    <img loading="lazy" alt="producer working with soundboard" src="/about/tay-soundboard.webp" class="block size-full object-cover">
                  </div>
                  <div class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40">
                    <img loading="lazy" alt="producer playing guitar" src="/tay-guitar-blue.webp" class="block size-full object-cover">
                  </div>
                  <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10">
                    <img loading="lazy" alt="volumen panel" src="/volumen_panel.png" class="block size-full object-cover">
                  </div>
                  <div class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40">
                    <img loading="lazy" alt="mixing board" src="/mixing_board1.png" class="block size-full object-cover">
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
                <h2 class="text-pretty text-2xl font-semibold tracking-tight text-richOrange">About me</h2>
                      <img loading="lazy" width="50" height="50" alt="photo of Taylor" class="order-1 float-left object-cover w-20 h-full p-1 md:order-2 lg:p-2 lg:w-55 sm: rounded-full shadow-inset shadow-mutedTeal dark:shadow-[#61feeb] mr-3 mt-6" style="object-position: 50% 50%; margin-left: 0.5rem;" src="/about_me.webp" />

                      <p class="mt-8 text-base/7 text-gray-600">Hi, I'm Tay, a multi-instrumentalist, writer, and producer from Baltimore. My musical voice is shaped by classical training, Latinx influences from my Guatemalan family, and a love for modern pop and experimental storytelling. I've studied under teachers from Berklee College of Music, Salisbury University, and veteran classical and jazz artists, while recording in studios along the East Coast and collaborating with musicians from around the world.</p>

                      <p class="mt-8 text-base/7 text-gray-600">My songwriting leans into abstract narratives—woven through lyrics, dynamics, and structure. From 2019 to 2021, I poured my experiences, influences, and personal challenges into my first solo project, The Man in the Flames, beginning with an experimental narrative short film and its contrasting musical accompaniment.</p>
        </div>    
              </div>
          </article>
          
      </SectionContainer>
    </main>
  </Layout>
  
  