<article class="flex flex-col items-start justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
      <p>I'm Jose Lopez Cobano, software engineer with a diverse professional background, Certified in Full Stack Software Engineering from Per Scholas (sponsored by Google and Comcast) and CS50x Introduction to Computer Science from Harvard/edX, with the distinction of graduating as Valedictorian at Per Scholas. Strong expertise in JavaScript, Python, SQL, and the MERN stack.</p>
      <p>Professional experience and projects demonstrate the ability to design and develop efficient, scalable, and user-centric solutions. Notable work includes comprehensive web applications designed to enhance users' Spanish language proficiency through interactive verb conjugation activities, and vocabulary flashcards, highlighting expertise in creating engaging, responsive, and effective web interfaces.</p>

      <p> International experience across Spain, The Netherlands, and the USA, combined with bilingual proficiency in English and Spanish, facilitates collaboration in diverse environments.</p>

      <p>Always ready to tackle new challenges and drive projects to success.</p>
      <p>Explore the <a href="#projects">projects</a> and reach out to discuss exciting collaboration opportunities.</p>
    </div>
    <img width="50" height="50" alt="photo of Jose Lopez" class="order-1 float-left object-cover w-40 h-full p-1 md:order-2 lg:p-2 lg:w-55 rounded-full shadow-inset shadow-[#5973ff] dark:shadow-[#61feeb]" style="object-position: 50% 50%; margin-left: 0.2rem;" src="/foto-intro.png" />
  </article>
  
  