---
import Layout from "../../layouts/Layout.astro"
import SectionContainer from "../../components/SectionContainer.astro";


---
<Layout  
title = "About"
description = "Best Music Production Studio in Baltimore" 
language = "en">
  <main class="mt-14">
      <SectionContainer>
        <div class="overflow-hidden bg-[#F8F4E1] py-24 sm:py-10">
          <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
            <div class="max-w-4xl">
             
              <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-richOrange sm:text-5xl">On a mission to...</h1>
              <p class="mt-6 text-balance text-xl/8 text-gray-700">Committed to helping ... nim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>

            </div>
            <section class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
              <div class="lg:pr-8">
                <h2 class="text-pretty text-2xl font-semibold tracking-tight text-deepTeal">My mission</h2>
                <p class="mt-6 text-base/7 text-gray-600">I recognize the unique challenges faced by .................... My mission is to simplify this journey, making ............., seamless, transforming ......</p>
                <p class="mt-8 text-base/7 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>

                <p class="mt-8 text-base/7 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>
              </div>
              <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto px-6">
                <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8">
                  <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10">
                    <img loading="lazy" alt="producer working with soundboard" src="/about/tay-soundboard.webp" class="block size-full object-cover">
                  </div>
                  <div class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40">
                    <img loading="lazy" alt="producer playing guitar" src="/tay-guitar-blue.webp" class="block size-full object-cover">
                  </div>
                  <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10">
                    <img loading="lazy" alt="volumen panel" src="/volumen_panel.png" class="block size-full object-cover">
                  </div>
                  <div class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40">
                    <img loading="lazy" alt="mixing board" src="/mixing_board1.png" class="block size-full object-cover">
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
                <h2 class="text-pretty text-2xl font-semibold tracking-tight text-richOrange">About me</h2>
                      <img loading="lazy" width="50" height="50" alt="photo of Taylor" class="order-1 float-left object-cover w-20 h-full p-1 md:order-2 lg:p-2 lg:w-55 sm: rounded-full shadow-inset shadow-mutedTeal dark:shadow-[#61feeb] mr-3 mt-6" style="object-position: 50% 50%; margin-left: 0.5rem;" src="/about_me.webp" />

                      <p class="mt-8 text-base/7 text-gray-600">Hi, I'm Taylor, the Founder of .... Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>

                      <p class="mt-8 text-base/7 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>
        </div>    
              </div>
          </article>
          
      </SectionContainer>
    </main>
  </Layout>
  
  