---
// src/pages/soundboard.astro
import Soundboard from "../../components/Soundboard";
import Layout from "../../layouts/Layout.astro";
import SectionContainer from "../../components/SectionContainer.astro"
---
<Layout  
title = "Audio Design"
description = "Best Audio Design Studio in Baltimore"
language = "en">
  <main class="mt-20">
      <SectionContainer class="p-10 mt-10 text-center md:text-left">
        <h1 class="text-richOrange text-4xl font-bold mb-4">Audio Design</h1>
        <p class="mt-8 text-base/7 text-gray-600">Explore the sonic identity behind our work. This interactive sound board lets you blend atmospheric background soundscapes with crisp, dynamic SFX—giving you a hands-on feel for how we craft immersive audio environments. Experiment, play, and experience the layers that bring our projects to life.</p>
  
        <Soundboard client:load />
    </SectionContainer>
</main>
</Layout>