
---
import ExperienceItem from '../../components/ExperienceItem.astro';
const EXPERIENCE = [
    {
        date: 'Currently',
        title: 'Software Engineer - Freelance',
        description: "Develop custom software solutions using React, TypeScript, Astro, Figma, and RESTful APIs. Collaborate with clients to gather & define scoping requirements, design system architecture, and implement features. Elevate user experience by implementing best practices for highly accessible, multilingual, and performant websites, leveraging HTML5, CSS, ECMAScript 6, i18n, and mobile-first implementation. Manage Agile sprints, using Asana and Notion ensuring timely delivery and effective communication.",
    },
    {
        date: '2017-2023',
        title: 'Spanish Teacher - Tioga High School & Friends School Of Baltimore',
        description: "Incorporated HTML iframes to present subject-specific content on the school's online platform, enhancing interactivity for 450 students. Developed and maintained web-based materials, leveraging cloud technologies to organize assignments, boost collaboration, and foster communication.",
    },
    {
        date: '2017',
        title: 'Customer Account Representative - RAC',
        description: "Maintained accurate records of customer account activity, encompassing both current and past due accounts, ensuring comprehensive account management. Revitalized and refurbished 100+ computers and other electronic devices to a like-new condition, ensuring high-quality standards and customer satisfaction. Managed and completed over 2500 customer service calls, ensuring timely resolution and adherence to assigned tasks.",
    },
    {
        date: '2015-2016',
        title: 'Web Developer - Osmoclean Property Services',
        description: "Successfully established a professional visual identity for the business using HTML and CSS, reinforcing brand credibility and trustworthiness. Played a pivotal role in securing a significant contract with Gonzalez Byass, one of the world's largest Sherry wine-producing wineries through an intuitive design and informative content. Implemented responsive design and cross-browser compatibility, ensuring seamless access for users across all devices.",
    },
    {
        date: '2013',
        title: 'Search Engine Evaluator - Leapforce, Inc Freelance',
        description: "Optimized speech recognition and translated results, completing 300 tasks daily to improve search engine performance. Evaluated information quality from Google, Bing, and various applications, ensuring accuracy for informed decision-making. Enhanced website aesthetics and usability through detailed layout analysis.",
    },
]
---
<ol class="relative border-s border-slate-800 dark:border-gray-700 ml-3">  
    {
        EXPERIENCE.map(experience => ( 
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>))
    }                
</ol>

