---
import ActionBtn from "../../components/ActionBtn.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Services from "./Services.astro";
import "@fontsource/smokum";


const lang = getLangFromUrl(Astro.url);
---

<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 mx-auto min-h-screen pt-20">
  <picture>
      <source srcset="/hero-bg-mobile.avif" media="(max-width: 640px)">
      <source srcset="/hero-bg-mobile.webp" media="(max-width: 640px)">
      <source srcset="/hero-bg.avif" type="image/avif" media="(min-width: 641px)">
      <source srcset="/hero-bg.webp" type="image/webp" media="(min-width: 641px)">
      <img src="/hero-bg.avif" alt="hero-background-image" 
          class="absolute inset-0 -z-10 h-full w-full object-cover object-left md:object-center">
  </picture>

  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/40 to-transparent sm:hidden"></div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8 text-center relative z-10 mt-10 md:mt-0">
      <div class="mx-auto max-w-2xl lg:mx-auto mb-3">
          <h2 class="font-semibold tracking-tight text-navTextSoftWhite text-5xl  md:text-6xl lg:text-7xl 2xl:text-8xl">
              Sonic Storytelling for Any Art Form
          </h2>
          <p class="my-5 text-lg leading-8 text-navTextSoftWhite">
            Composition | Audio Design | Music Production | Performance
          </p>
          <ActionBtn href=`/${lang}/GetQuote`>Book a Session</ActionBtn>
      </div>
  </div>
</div>
