---
import Layout from '../../layouts/Layout.astro';
import SocialPill from '../../components/SocialPill.astro';
import SectionContainer from "../../components/SectionContainer.astro";
import { getLangFromUrl } from '../../i18n/utils';
import Hero from './Hero.astro';
import Contact from './Contact.astro';
import FeatArtists from '../../components/FeatArtists.astro';
import FeatArtistsWithPhotos from '../../components/FeatArtistsWithPhotos.astro';
import Works from './Works.astro';

const lang = getLangFromUrl(Astro.url);

---

<Layout 
language={lang}
title="Tay | Professional Music Studio | Recording, Mixing & Mastering Services"
description="Elevate your sound at [Studio Name], a professional music studio offering top-tier recording, mixing, and mastering services. Whether you're an artist, producer, or band, we provide high-quality audio production to bring your vision to life. Book your session today!">

		<SectionContainer id="hero" class="mt-0">
			<Hero />
		</SectionContainer>

		<SectionContainer id="hero" class="mt-0">
			<FeatArtistsWithPhotos />
		</SectionContainer>
		
		<SectionContainer id="portfolio">
			<Works />
		</SectionContainer>

		<SectionContainer id="contact">	
			<Contact id="contact"/>
		</SectionContainer>

		<!-- <SectionContainer id="about">
			<p class="mt-2 mb-5 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl text-center">About me</p>
			<About />
		</SectionContainer> -->

			<!-- <Blog id="blog"/> -->

	
	</main>
	<script src="../../lib/openModal.js"></script>

</Layout>

