---
import Layout from '../../layouts/Layout.astro';
import LinkedInIcon from '../../icons/LinkedInIcon.astro';
import GithubIcon from '../../icons/GithubIcon.astro';
import MailIcon from '../../icons/MailIcon.astro';
import SocialPill from '../../components/SocialPill.astro';
import SectionContainer from "../../components/SectionContainer.astro";
import BriefcaseIcon from "../../icons/BriefcaseIcon.astro";
import CodeIcon from "../../icons/CodeIcon.astro";
import Projects from "./../en/Projects.astro"
import AboutIcon from "../../icons/AboutIcon.astro"
import About from "./../en/About.astro"
import { getLangFromUrl } from '../../i18n/utils';
import Hero from './Hero.astro';
import Contact from './Contact.astro';
import ActionBtn from '../../components/ActionBtn.astro';
import Blog from './Blog.astro';
import PricingSection from './PricingSection.astro';
import ModalPack from './ModalPack.astro';
import Services from './Services.astro';
import FeatArtists from '../../components/FeatArtists.astro';

const lang = getLangFromUrl(Astro.url);

---

<Layout 
language={lang}
title="Tay | Professional Music Studio | Recording, Mixing & Mastering Services"
description="Elevate your sound at [Studio Name], a professional music studio offering top-tier recording, mixing, and mastering services. Whether you're an artist, producer, or band, we provide high-quality audio production to bring your vision to life. Book your session today!">

		<SectionContainer id="hero" class="mt-0">
			<Hero />
		</SectionContainer>

		<SectionContainer id="hero" class="mt-0">
			<FeatArtists />
		</SectionContainer>
		
		<SectionContainer id="portfolio">
			<Projects />
		</SectionContainer>
	
		<SectionContainer id="services" class="">
			<Services />
		</SectionContainer>

		<SectionContainer id="contact">	
			<Contact id="contact"/>
		</SectionContainer>

		<!-- <SectionContainer id="about">
			<p class="mt-2 mb-5 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl text-center">About me</p>
			<About />
		</SectionContainer> -->

			<!-- <Blog id="blog"/> -->

	
	</main>
	<script src="../../lib/openModal.js"></script>

</Layout>

