<div id="modal" class="fixed inset-0 w-full h-screen bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white dark:bg-gray-900 p-6 rounded-lg w-full max-w-md max-h-full min-h-[75vh] sm:min-h-[50vh] overflow-y-auto relative">
    <button onclick="closeModal()" class="absolute top-2 right-2 text-gray-500">Close</button>
    <div id="hubspotFormContainer"></div>
  </div>
</div>
