---
import ServiceItem from '../../components/ServiceItem.astro'
import PhoneIcon from '../../icons/PhoneIcon.astro'
import UxUiIcon from '../../icons/UxUiIcon.astro'
import SeoIcon from '../../icons/SeoIcon.astro'
import BrandingIcon from '../../icons/BrandingIcon.astro'
import HostingIcon from '../../icons/HostingIcon.astro'

const SERVICES = [
{
    title: 'Composition & Scoring',
    description: "Capture your best performance in a professional studio environment with high-quality microphones, preamps, and acoustics..",
    icon: PhoneIcon,
},
{
    title: 'Performance',
    description: 'Balance every element of your track with expert mixing techniques to ensure clarity, depth, and a polished sound.',
    icon: UxUiIcon,
},
{
    title: 'Audio Design & Soundscaping',
    description: "Get your music ready for streaming, radio, and distribution with industry-standard mastering that enhances loudness and dynamics.",
    icon: SeoIcon,
},
{
    title: 'Music Production',
    description: "Need a custom beat or full music production? We craft unique sounds tailored to your artistic style.",
    icon: HostingIcon,
},
]
---
<div class="mx-auto max-w-5xl text-center">

    <p class="text-4xl font-bold tracking-tight  text-goldenOrange sm:text-3xl">Services</p>
    <div class="mx-auto mt-4 grid max-w-2xl grid-cols-1 gap-6  lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:gap-8 text-left">
        {SERVICES.map(({ title, description, icon }) => (
        <ServiceItem title={ title } description={description} icon={icon} />
        ))}
    </div>

</div>