---
const { href } = Astro.props
---
<a class="items-center" href={href}>
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#C4A76B_0%,#7A5A31_50%,#C4A76B_100%)]"
    ></span>
    <div class="inline-flex items-center justify-center w-full px-3 py-3 text-sm text-[#7A5A31] bg-[#E0C3A0] rounded-full cursor-pointer dark:bg-[#4E2A14] dark:text-[#C4A76B] backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</a>

