---
import "@fontsource/smokum";

const FEATARTISTS = ["Brothers Clair", "Rasha Jay", "Will Sims", "Tionesta", "Jocelyn Faro", "Megan Leigh", "Grayson Moon", "Astro Villas", "Curbside at Midnite", "Starfall", "J. Edwards", "The Man in the Flames"];
---
<div class="mx-auto max-w-5xl text-center mb-10">
    <p class="text-4xl font-bold tracking-tight text-[#C4A76B] sm:text-3xl">Featured Artists</p>
  
    <ul class="flex flex-wrap gap-2 justify-center w-full mt-4">
      {FEATARTISTS.map((artist, index) => (
        <li class="text-center">
          <span class="font-smokum text-gray-800 text-5xl">
            {index === 0 ? (
              artist
            ) : (
              <>
                <span class="text-[#C59D5F]">-</span> {artist}
              </>
            )}
          </span>
        </li>
      ))}
    </ul>
  </div>

