
---
const {class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 mb-5 w-full py-0 sm:py-18 top-0`}
>
  <slot />
</section>
