---
const {title, description, icon : Icon} = Astro.props
---

<div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-brandPrimary/80">

    <Icon />
    <div class="text-base leading-7">
      <h3 class="font-semibold text-gray-800">{title}</h3>
      <p class="mt-2 text-gray-800">{description}</p>
    </div>
  </div>