
---
import ExperienceItem from '../../components/ExperienceItem.astro';
const EXPERIENCE = [
    {
        date: 'Actualmente',
        title: 'Ingeniero de Software - Freelance',
        description: "Desarrollo soluciones de software personalizadas utilizando React, TypeScript, Astro, Figma y APIs RESTful. Colaboro con clientes para recopilar y definir requisitos de alcance, diseñar la arquitectura del sistema e implementar características. Mejoro la experiencia del usuario implementando las mejores prácticas para sitios web altamente accesibles, multilingües y de alto rendimiento, aprovechando HTML5, CSS, ECMAScript 6, i18n y la implementación mobile-first. Gestiono sprints ágiles utilizando Asana y Notion, garantizando la entrega puntual y una comunicación efectiva.",
    },
    {
        date: '2017-2023',
        title: 'Profesor de Español - Tioga High School y Friends School Of Baltimore',
        description: "Incorporé iframes HTML para presentar contenido específico de la materia en la plataforma web de la escuela, mejorando la interactividad para más de 450 estudiantes. Desarrollé y mantuve materiales basados en la web, aprovechando las tecnologías 'cloud' para organizar tareas, fomentar la colaboración y promover la comunicación.",
    },
    {
        date: '2017',
        title: 'Representante de Cuentas de Clientes - RAC',
        description: "Mantuve registros precisos de la actividad de las cuentas de los clientes, abarcando tanto cuentas actuales como vencidas, asegurando una gestión integral de las cuentas. Restauré más de 100 computadoras y otros dispositivos electrónicos a un estado casi nuevo, asegurando estándares de alta calidad y satisfacción del cliente. Gestioné y completé más de 2500 llamadas de servicio al cliente, garantizando una resolución oportuna y el cumplimiento de las tareas asignadas.",
    },
    {
        date: '2016',
        title: 'Desarrollador Web - Osmoclean Property Services',
        description: "Establecí con éxito una identidad visual profesional para el negocio utilizando HTML y CSS, reforzando la credibilidad y confianza de la marca. Jugué un papel clave en la obtención de un contrato significativo con Gonzalez Byass, una de las bodegas productoras de vino de Jerez más grandes del mundo, mediante un diseño intuitivo y contenido informativo. Implementé un diseño adaptable y compatible entre navegadores, asegurando un acceso fluido para los usuarios en todos los dispositivos.",
    },
    {
        date: '2013',
        title: 'Evaluador de Motores de Búsqueda - Leapforce, Inc Freelance',
        description: "Optimicé el reconocimiento de voz de aplicaciones online y traduje resultados, completando 300 tareas diarias para mejorar el rendimiento de motores de búsqueda. Evalué la calidad de la información de Google, Bing y varias aplicaciones, asegurando precisión para una toma de decisiones informada. Mejoré la estética y la usabilidad del sitio web a través de un análisis detallado del diseño.",
    },
]

---
<ol class="relative border-s border-slate-800 dark:border-gray-700 ml-3">  
    {
        EXPERIENCE.map(experience => ( 
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>))
    }                
</ol>

