---
import ServiceItem from '../../components/ServiceItem.astro'
import PhoneIcon from '../../icons/PhoneIcon.astro'
ServiceItem
const SERVICES = [
  {
    title: 'Diseño',
    description: "Los elementos visuales de tu sitio web son clave para convertir visitantes en clientes. No dejes que un mal diseño se interponga.",
    icon: PhoneIcon,
  },
  {
    title: 'UX/UI',
    description: 'Asegurando que tus clientes y visitantes tengan una experiencia consistente en todos los dispositivos y plataformas.',
    icon: PhoneIcon,
  },
  {
    title: 'Branding',
    description: "Colaboraré contigo para desarrollar una estrategia de marca, o si ya tienes una, te ayudaré a mejorar su visibilidad.",
    icon: PhoneIcon,
  },
  {
    title: 'SEO',
    description: "Perder clientes que no pueden encontrarte puede costarte mucho. Te ayudaré a asegurarte de que seas visible en los lugares correctos en los momentos adecuados.",
    icon: PhoneIcon,
  },
  {
    title: 'Hosting / Mantenimiento',
    description: "Perder clientes que no pueden encontrarte puede costarte mucho. Te ayudaré a asegurarte de que seas visible en los lugares correctos en los momentos adecuados.",
    icon: PhoneIcon,
  },
];

---
<div class="mt-16 sm:mt-20">
    <h2 class="text-3xl text-white font-semibold mb-5 gap-x-3 items-center flex">Servicios</h2>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-6  lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
        {SERVICES.map(({ title, description, icon }) => (
        <ServiceItem title={ title } description={description} icon={icon} />
        ))}
    </div>

  </div>